
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="static/js/basics.js"> </script>
</head>
<body>
<form class="form-container">
    <img src="static/images/freespeech.jpg">
    <div class="container">
        <div class="flex-container">
            <div class="comment-input">
                <span class="comment-input-label">
                     Bitte hier das Kommentar einfügen:
                </span>
                <textarea id="comment" class="comment-input-box" cols="40" rows="5"></textarea>
            </div>
            <div class="url-input">
               <span class="url-input-label">
                     Bitte hier die Artikelurl einfügen:
                </span>
                 <textarea id="url" class="url-input-box" cols="1" rows="1"></textarea>
            </div>
            <textarea class="result" id="json"></textarea>
            <button id="submitButton" class="submit-button" type="button" onclick="submitComment()">Kommentar klassifizieren</button>
        </div>
    </div>
</form>
</body>
</html>