body{
  margin: 0;
}

.form-container{
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
}

.form-container img {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}


.form-container .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;

}


.form-container .container .submit-button{
    width: 160px;
    padding: 5px;
    font-size: 15px;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #fff;
    background-color: rgba(21, 30, 40, 0.6);
    color: white;
}


.form-container .container .submit-button:hover{
   background-color: #ff5722;
}

.form-container .container .flex-container{
    display: flex;
    flex-direction: column;
}

.form-container .container .flex-container .comment-input,
.form-container .container .flex-container .url-input{
    display: block;
    width: 600px;
    padding: 20px;
    height: 90px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #fff;
}

.form-container .container .flex-container .comment-input{
     height: 155px;
}


.form-container .container .flex-container .comment-input-box,
.form-container .container .flex-container .url-input-box{
    color: white;
    width: 62%;
    max-width: 550px;
    display: block;
    color: black;
    margin: 15px auto 50px auto;
}

.form-container .container .flex-container .url-input .url-input-box{
    height: auto;
    width: 35%;
     max-width: 350px;
}

.form-container .container .flex-container .comment-input-label,
.form-container .container .flex-container .url-input-label{
    font-weight: 800;
    font-size: 23px;
    color: white;
    margin-bottom: 7px;
}



